body {
    font-family: monospace;
    background-color: #121212;
    color: #fff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
}

.weatherForm {
    text-align: center;
    margin-bottom: 20px;
}

.cityInput {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
    width: 250px;
    background-color: #333;
    color: #fff;
}

.cityInput:focus {
    border-color: rgba(0, 89, 255, 0.836);
    outline: none;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0px 8px rgba(0, 89, 255, 0.836);
}

button:hover {
    background-color: #0056b3;
}

.cityDisplay {
    margin-bottom: 30px;
}

.card {
    background-color: #333; 
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgba(0, 89, 255, 0.836);
    padding: 30px;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 250px; 
}

.card h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.card p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #bbb; 
}

.card img {
    max-width: 150px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 89, 255, 0.836);
}

.card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-details span {
    font-size: 16px;
    color: #888;
}

.card-details i {
    margin-right: 10px;
    color: #007bff;
}

#weatherHeading{
    font-size: 80px;
    text-shadow: 8px 8px 8px rgba(0, 89, 255, 0.836);
}